*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aliceblue;
    place-items: center;
    height: 100%;
   
} 
main{
    padding: 10px 30px;
}
main div{
    padding: 2em;
    text-align: center;
}

.container{
    display: grid;   
    grid-template-areas: 
    'a a b'
    'a a b'
    ' c d d'
    'c e e ';
    width: 50%;
    grid-template-rows: 1fr 1fr;
    margin: auto;
    gap:10px;  
       
}

 
.box-a{
    grid-area: a;
    background-color: red ;
    grid-row: 1/2;
    gap: 2px;
    
}
.box-b{
    grid-area: b;
    grid-row: 1/2;
    background-color: orange;
}


.box-c{
    grid-area: c;
    grid-column: 1/2;
    grid-row: 2/4;
    background-color:green ;
}

.box-d{
    grid-area: d;
    grid-row: 2/3;
    grid-column: 2/4;
    background-color: aquamarine;
}
.box-e{
    grid-area: e;
    grid-column: 2/4;
    grid-row: 3/4;    
    background-color: aquamarine;
}